.background-primary {
  background-color: #e66ad2 !important;
}

.background-info {
  background-color: #419ef9 !important;
}

.background-success {
  background-color: #00bf9a !important;
}

.background-danger {
  background-color: #fd77a4 !important;
}

.background-warning {
  background-color: #ff9f89 !important;
}

.background-default {
  background-color: #54648b !important;
}
