// react-kanban
.react-kanban-column,
.react-kanban-card {
  background-color: #27293d !important;
}

.react-kanban-card {
  border: 1px solid #e44cc4;
}
.react-kanban-card-adder-button {
  background: #e14eca;
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
  background-size: 210% 210%;
  background-position: top right;
  background-color: #e14eca !important;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #ffffff;
  border: none !important;
}
.react-kanban-card__title {
  border-bottom: 1px solid rgba(238, 238, 238, 0.4) !important;
}
