// .css-1w51o4b-MuiButtonBase-root-MuiTab-root.Mui-selected {
//   background-color: red;
// }

.MuiTablePagination-toolbar .MuiInputBase-root {
  width: 90px !important;
}

td,
th {
  color: #f8f9fa !important;
}

thead th {
  color: #a0aec0 !important;
  text-transform: uppercase;
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
  color: #a0aec0 !important;
}

.MuiTableSortLabel-icon {
  color: #f8f9fa !important;
}

.MuiTablePagination-root {
  color: #f8f9fa !important;
}

// table,
// td,
// th {
//   font-size: 14px;
// }

// .css-hicy8g-MuiTableCell-root {
//   border-bottom: 0.004rem solid #e9ecef51 !important;
//   // border: none !important;
// }
