//typography

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
}

p {
  font-weight: 300;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

a {
  color: #ba54f5;
  font-weight: 300;
}

a:hover,
a:focus {
  color: #e14eca;
}

h1,
.h1 {
  line-height: 1.05;
  margin-bottom: 30px;
}

h1 small,
.h1 small {
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.8;
}

h2,
.h2 {
  margin-bottom: 30px;
  line-height: 1.2;
}

h3,
.h3 {
  margin-bottom: 30px;
  line-height: 1.4em;
}

h4,
.h4 {
  line-height: 1.45em;
  margin-bottom: 15px;
}

h4 + .category,
h4.title + .category,
.h4 + .category,
.h4.title + .category {
  margin-top: -10px;
}

h5,
.h5 {
  line-height: 1.4em;
  margin-bottom: 15px;
}

h6,
.h6 {
  text-transform: uppercase;
  font-weight: 600;
}

p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
}

p.description {
  font-size: 1.14em;
}

.title {
  font-weight: 600;
}

.title.title-up {
  text-transform: uppercase;
}

.title.title-up a {
  color: #222a42;
  text-decoration: none;
}

.title + .category {
  margin-top: -10px;
}

.description,
.card-description,
.footer-big p,
.card .footer .stats {
  color: #9a9a9a;
  font-weight: 300;
}

.text-white {
  color: #ffffff !important;
}

.text-primary {
  color: #e14eca !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #c221a9 !important;
}

.text-secondary {
  color: #f4f5f7 !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
  color: #c8cdd7 !important;
}

.text-success {
  color: #00f2c3 !important;
}

a.text-success:hover,
a.text-success:focus {
  color: #00a685 !important;
}

.text-info {
  color: #1d8cf8 !important;
}

a.text-info:hover,
a.text-info:focus {
  color: #0666c2 !important;
}

.text-warning {
  color: #ff8d72 !important;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #ff4f26 !important;
}

.text-danger {
  color: #fd5d93 !important;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #fc1161 !important;
}

.text-light {
  color: #adb5bd !important;
}

a.text-light:hover,
a.text-light:focus {
  color: #838f9b !important;
}

.text-dark {
  color: #212529 !important;
}

a.text-dark:hover,
a.text-dark:focus {
  color: black !important;
}

.text-default {
  color: #344675 !important;
}

a.text-default:hover,
a.text-default:focus {
  color: #1c2640 !important;
}

.text-white {
  color: #ffffff !important;
}

a.text-white:hover,
a.text-white:focus {
  color: #d9d9d9 !important;
}

.text-neutral {
  color: #ffffff !important;
}

a.text-neutral:hover,
a.text-neutral:focus {
  color: #d9d9d9 !important;
}

.text-darker {
  color: black !important;
}

a.text-darker:hover,
a.text-darker:focus {
  color: black !important;
}

.text-body {
  color: #525f7f !important;
}

.text-muted {
  color: #6c757d !important;
}

.text-black-50 {
  color: rgba(34, 42, 66, 0.5) !important;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}
