$bgColor: #1e1e2f;
$bgColor2: #27293d;
$primaryGradient: linear-gradient(0deg, #3358f4, #1d8cf8);
$darkColor1: #222a42;
$lightColor1: #fff;

@import "./components/scrollbar";
@import "./components/layout";
@import "./components/overrides";
@import "./components/typography";
@import "./components/helpers";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: $bgColor !important;
}
